#ignore all the csv files (bikeshare project included):
*.csv

#ignore all config files :
.github/**
.*
.env

# Ignore all Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore all Distribution / packaging for the virtual env
# Although this is not part of the bikeshare project, I kept this to keep my work env clean
# since i use my work machine for projects and i use pipenv to separate all the projects so as to not create dependency issues

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Ignore all Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Ignore all pyenv configs
.python-version


# Ignore all Environmentsfiles/configs
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

